.mainFormPart3{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff21;
}

.mainFormPart3 .container {
    width: 400px;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0A0C10;
    border-radius: 5px;
}

.mainFormPart3 .imageContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
}

.mainFormPart3 img {
    cursor: pointer;
}

.mainFormPart3 form{
    width: 90%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    font-size: 0.8rem;
    overflow: hidden;
}

.mainFormPart3 h1{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.mainFormPart3 .inputsContainer {
    width: 90%;
    height: 60%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mainFormPart3 input {
    width: 100%;
    height: 50px;

    background-color: #44484f;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    padding-left: 8px;
    cursor: pointer;
}

.mainFormPart3 #syndicate {
    margin-top: 10%;
}

.mainFormPart3 .button {
    width: 50%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border-radius: 30px;
    background-color: #5AE982;
    color: #0A0C10;
    font-size: 1.7em;
    font-weight: bold;
    cursor: pointer;
}