.mainFormPt3{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: #ffffff21;
}

form{
    width: 35%;
    height: 90vh;
    background-color: #0A0C10;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;
    overflow: hidden;
}

h1{
    height: 5px;
}

.mainFormPt3 h1{
    font-size: 2rem;
    margin-top: 60px;
}

.inputsDivPt3{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputsDivPt3 div{
    width: 80%;
    height: 100%;
    justify-content: flex-end;
    align-items:center;
    flex-direction: column;
    display: flex;
}

.inputsDivPt3 div input{
    margin: 0px 0px 10% 0px;
    width: 100%;
    height: 60px;
    background-color: #44484f;
    outline: none;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;   
    padding: 0 8px; 
}

.divButtonPt3{
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.divButtonPt3 button{
    width: 40%;
    height: 50px;
    border-radius: 30px;
    background-color: #5AE982;
    color: #0A0C10;
    font-size: 1.7em;
    font-weight: bold;
}