.container-calendar {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* Botões da página */
.container-calendar .container-button {
    width: 92%;
    height: 20%;

    margin-left: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-button button {
    width: 125px;
    height: 30px;

    background-color: rgba(168, 191, 174, 0.8);
    border-radius: 10px;
    outline: none;
    border: none;

    cursor: pointer;
}

.container-button button#selected {
    background-color: #5AE982;
}

.content-calendar {
    width: 92%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 7%;
}

/* Calendário */
.container-calendar .react-calendar {
    width: 80%;

    background-color: #5AE982;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;
    border: none;
}

.container-calendar .react-calendar button:hover {
    background-color: #01c338 !important;
}

/* Calendário | Header */
/* Mês */
.react-calendar__navigation {
    width: 100%;
}

.react-calendar__navigation button {
    font-weight: 900;
}

.react-calendar__navigation button:disabled {
    background-color: #b4f2bd !important;
}

/* Semanas */
.react-calendar__month-view__weekdays abbr {
    font-weight: 900;
    text-decoration: none;
}

.react-calendar__month-view__weekdays_weekday div {
    border: 1px solid white !important;
}

/* Calendário | body */
.react-calendar__viewContainer {}

/* dias */
.react-calendar__month-view__days button {
    min-height: 10vh;
    padding: 10px 10px 0 0;

    border: 1px solid white !important;

    display: flex;
    justify-content: flex-end;
}

/* dias escrita */
.react-calendar__month-view__days button abbr {
    font-size: 1rem;
}

.react-calendar__tile--active {
    background-color: #01c338 !important;
}

.react-calendar__tile--now {
    background: #017a1b !important;
}

.react-calendar__tile:disabled {
    background-color: #b4f2bd !important;
}

/* modal */
.input-mini-modal {
    width: 80%;
    height: 50px;

    color: black;
    font-weight: 700;
    background-color: rgb(10, 12, 16, 0.09);
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    text-indent: 16px;
}

.button-mini-modal {
    width: 50%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 30px;
    background-color: #5AE982;
    color: #0A0C10;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;

    /* transition: 1s; */
}

/* .button-mini-modal:hover {
    background-color: #0A0C10;
    border: 1px solid #00ff37;
    color: white;
} */

/* Lista de dias cancelados */
.container-canceled {
    width: 60%;
    height: 90%;
    max-height: 82%;

    display: flex;
    flex-direction: column;

    background-color: #5AE982;
    border-radius: 20px;
}

.container-canceled .header-canceled {
    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: row;
}

.container-canceled .header-canceled .information-header-canceled {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 1.1rem;

    border-bottom: 2px solid white;
}

.container-canceled .header-canceled .information-header-canceled#date {
    width: 30%;
}

.container-canceled .header-canceled .information-header-canceled#cause {
    width: 70%;
    max-width: 70%;
}

.container-canceled .body-canceled {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    overflow-y: scroll;
}

.body-canceled .content-body-canceled {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid white;

    cursor: default;
}

.body-canceled .content-body-canceled:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.content-body-canceled abbr {
    height: 50px;
    margin: 0;

    display: flex;
    align-items: center;

    text-decoration: none;
    color: #717171;
}

.content-body-canceled #body-date {
    width: 30%;

    justify-content: center;
}

.content-body-canceled #body-cause {
    width: 65%;
    height: auto;

    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: ltr;
}

.content-body-canceled img {
    margin-right: 2%;

    cursor: pointer;
}

.body-canceled::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px #5AE982;
}

.body-canceled::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
    border-radius: 10px;
}