.main-buttons{
    width: 50%;
    height: 5vh;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.main-buttons button{
    width: 150px;
    padding: 6px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #5ae982c4;
    cursor: pointer;
    font-size: 1rem;
}