.mainColumSettings{
    width: 85%;
    height: 65vh;
    margin-left: 5%;
    display: flex;
    padding: 20px;
}

.settingsInformation{
    width: 60%;
    height: 100%;
}

.settingsImg{
    width: 40%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.settingsButtons{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsButtons button{
    margin: 10px;
    width: 120px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #5AE982;
    font-weight: bold;
    font-size: 1.2rem;
}

.settingsImg img{
    height: 400px;
}

.settingsImg p{
    font-size: 2rem;
    font-weight: bold;
}