.mainDivHowItsWorks{
    width: 80%;
    margin: auto;
    height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 3rem;
}

.HowItsWorks{
    width: 80%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1{
    color: #fff;
    font-size: 3.3em;
    font-weight: bold;
    padding-bottom: 4.5rem;
}


.texteTitleWorks{
    border: 1px solid red;
}

.imagensDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.imagensDivItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 25%;
    height: 10%;
    align-items: center;
}


.imagensDivItem p{
    width: 100%;
    font-size:15px;
    color: #fff;
    
}

.iconsDiv{
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #ffffff21;
    border-radius: 50%;
}

.iconsDiv img{
    width: 60%;    
}

.iconsDiv img:hover{
    transform: scale(1.1);
}
