.mainCommunique{
    width: 100%;
    height: 320px;
    margin-top: 7.5%;
}

.line{
    width: 100%;
    height: 0.5px;
    background-color: #AAC2B1;
    margin-bottom: 20px;
    
}

.mainCommunique header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainCommunique header input{
    background-color: #f5f5f5;
    border: none;
    margin: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
    color: black;
}

.communiqueText .textAreaEnable{
    width: 93%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffffff65;
    margin-left: 28px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #0a0c10ad;
    resize: none;
    border: none;
    outline: none;

}

.textAreaEnable::-webkit-scrollbar-track{
    background-color: #5AE982;
}

.textAreaEnable::-webkit-scrollbar{
    background-color: #5AE982;
}

.textAreaEnable::-webkit-scrollbar-thumb{
    background-color: #5AE982;
}

.textAreaDisabled{
    width: 93%;
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #5AE982;
    margin-left: 25px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #0a0c10ad;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    text-align: justify;

    padding: 4px;
    resize: none;
}

.textAreaDisabled::-webkit-scrollbar-track{
    background-color: #5AE982;
}

.textAreaDisabled::-webkit-scrollbar{
    background-color: #5AE982;
}

.textAreaDisabled::-webkit-scrollbar-thumb{
    background-color: #5AE982;
}

.h4{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 30px;
}

.h4 .btnSpan{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 98%;
}

.h4 .btnSpan button{
    margin: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5AE982;
}

.h4 .btnSpan button img{
    height: 60%;
}

.typeAndHour{
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.typeAndHour div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.typeAndHour div .btnSave{
    margin: 0px 0px 0px 25px;
    background-color: #A8BFAF;
    width: 85px;
    padding: 8px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #0A0C10;
    font-weight: bold;
    cursor: not-allowed;
    display: none;
}

.typeAndHour div .btnSaveEnable{
    margin: 0px 0px 0px 25px;
    background-color: #A8BFAF;
    border: none;
    width: 85px;
    padding: 8px;
    border-radius: 15px;
    outline: none;
    color: #0A0C10;
    font-weight: bold;
    cursor: pointer;
}

.typeAndHour div span{
    background-color: #8eefa99b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 15px;
}






