.mainColumSettings{
    width: 85%;
    height: 65vh;
    margin-left: 7%;
    display: flex;
    padding: 20px 20px 0 20px;
}

.settingsInformation{
    width: 60%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settingsImg{
    width: 40%;
    height: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.settingsImg img{
    height: 300px;
}

.settingsImg p{
    font-size: 2rem;
    font-weight: bold;
}