.carousel {
    width: 80vw;
    display: flex;
    overflow-x: auto;
    cursor: grab;
    z-index:1;
    box-shadow: inset 5em 1em gold;
  }


  .carousel:active {
    cursor: grabbing;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  