@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

.mainPayment {
    background-color: #f5f5f5;
    width: 100vw;
    height: 15vh;
    display: flex;

}

.payment {
    background-color: #f5f5f5;
    width: 100vw;
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.payment div {
    width: 85%;
    margin-left: 7%;
    height: 70vh;
    overflow-y: scroll;
    padding: 0px 20px 20px 20px;
    border-radius: 50px;
}

.container-model-column {
    width: 90%;
    height: 70%;

    display: flex;
    justify-content: center;
}

.container-model-column .column-model-left {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-model-column .column-model-right {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column-model-right .content-modal {
    display: flex;
    justify-content: end;
}

.column-model-right .content-modal label {
    width: auto;

    display: flex;
    align-items: end;
}

.column-model-right .content-modal span {
    width: auto;
    margin-left: 5px;

    display: flex;
    align-items: end;
}

.container-model-row {
    width: 90%;
    height: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 0.1px solid #aac2b14f;
}

.container-model-row .content-modal {
    display: flex;
    justify-content: center;
}

.container-model-row .content-modal label {
    width: auto;

    display: flex;
    align-items: end;
}

.container-model-row .content-modal span {
    width: 80%;
    margin-left: 5px;

    display: flex;
    align-items: end;
}

.btn-div{
    width: 85%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 7%;
}

.btn-div a{
    width: 20%;

}

.btn-requests {
    outline: none;
    border: none;
    cursor: pointer;
    color: #0A0C10;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
}

#current-button{
    background-color: #5AE982;
}

#no-current-button{
    background-color: rgba(168, 191, 174, 0.8);
}

#no-current-button:hover{
    background-color: #5AE982;
    transform: translateY(-3px);
}

#no-current-button#selected {
    background-color: #5AE982;
}

#no-current-button:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0);
}

