.main-forum-tenant {
    background-color: #f5f5f5;
    width: 100vw;
    height: 15vh;
    display: flex;
}

.forum-tenant {
    background-color: #f5f5f5;
    width: 100vw;
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-forum-tenant{
    width: 85%;
    margin-left: 3%;
    height: 60vh;
    padding: 20px;
    overflow-y: scroll;
}