@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.mainBodyLogin {
    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.formLogin {
    width: 400px;
    height: 90vh;

    background-color: #0A0C10;
    border-radius: 5px;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formLogin .navBarContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

    
}

.navBarContainer .title{
    width:100%;
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
}

.navBarContainer .buttonBack{
    align-items: center;
}


.navBarContainer .buttonBack:hover{
    transform: scale(1.1);
}

.formLogin img {
    cursor: pointer;
}

.formLogin .container {
    width: 100%;
    height: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin .contentContainer {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin .inputContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.formLogin .inputContainer input {
    width: 100%;
    height: 50px;

    color: white;
    background-color: #44484f;
    outline: none;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    text-indent: 15px;
}

.inputContainer input::placeholder{
    color: #8D9093;
    font-weight: 600;
}

.formLogin span {
    width: 100%;
    margin-top: 6px;
    display: flex;
    font-weight: 300;
    justify-content: flex-end;
}

.formLogin .forgotPassword {
    color: #5AE982;
    text-decoration: none;
}

.forgotPassword:hover {
    color: #68f18f;
    text-decoration:underline;
}

.formLogin button {
    width: 50%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 30px;
    background-color: #5AE982;
    color: #0A0C10;
    font-size: 1.7em;
    font-weight: bold;
    cursor: pointer;

}

.formLogin button:hover {
    transform: scale(1.1);
}